# Игнорируем виртуальное окружение
venv/
.env

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем IDE-специфичные файлы
.vscode/
.idea/

# Игнорируем Git
.git/
.gitignore