# Игнорируем всё кроме нужного для сборки
**/*
!app/
!requirements.txt
!Dockerfile
!.dockerignore
!start.sh
!migrations/

# Исключения внутри app
app/__pycache__/
app/*/__pycache__/
app/tests/

# Локальные файлы
.env
docker-compose.override.yml

# Git
.git/
.gitignore

# Логи
*.log
logs/